.axis .domain,
.domainX {
  stroke: #fff;
}
.label {
  fill: #34354b;
  fill-opacity: 0.7;
  font-family: 'Roboto', serif;
  font-size: 24px;
}
g.tick {
  opacity: 0;
}
.ticks-label {
  fill: #fff;
  fill-opacity: 0.5;
  font-family: 'Playfair Display', serif;
  font-size: 18px;
}
#chartHTML,
#chartCSS,
#chartJS,
#chartPython {
  position: relative;
}
.link-in {
  bottom: 60px;
  color: #fff;
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  position: absolute;
  right: 40px;
  text-decoration: none;
}

@keyframes right-anim {
  0% {
    -webkit-transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
            transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
            transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}

.link-in:after {
  background-color: transparent;
  content: '';
  display: block;
  height: 4px;
}
.link-in:hover {
  color: #fff;
  text-decoration: none;
}
.link-in:hover:after {
  background-color: #fff;
  animation: right-anim 0.5s cubic-bezier(0.250, 1.000, 0.350, 1.000) both;
}
